Repository Softvence-Omega-Cyber-Monk/nestjs-prisma-aws-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm commitlint, pnpm db:validate, pnpm build

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "pnpm lint:fix",
    "pnpm format:fix",
    "pnpm commitlint",
    "pnpm db:validate",
    "pnpm build"
  ],
  "*.{json,md}": [
    "pnpm format:fix"
  ]
}

chore: logging updating
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/core/middleware/logger.middleware.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm commitlint, pnpm db:validate, pnpm build

chore: sementic release setup
  .github/workflows/ci-cd.yml
  package.json
  pnpm-lock.yaml
  release.config.mjs
Due: pnpm format:fix

docs: add release doc in readme
  README.md
Due: pnpm format:fix

fix: removed md file
  LINKEDIN_POST.md
Due: pnpm format:fix

chore: imporeve caddy, compose & action
  .github/workflows/ci-cd.yml
  .vscode/settings.json
  Caddyfile
  compose.yaml
Due: pnpm format:fix

feat: merge two video completed
  src/lib/file/services/s3.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm commitlint, pnpm db:validate, pnpm build

feat: merge multiple video using aws mediaconvert
  README.md
Due: pnpm format:fix

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

feat: updated example env file
  .env.example
Due: none

chore(release): 1.2.0 [skip ci]
  .env
  .gitignore
  CHANGELOG.md
  eslint.config.mjs
  package.json
  prisma.config.ts
  release.config.mjs
Due: pnpm lint:fix, pnpm format:fix, pnpm commitlint, pnpm db:validate, pnpm build

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  eslint.config.mjs
  package.json
  temp_auto_push.bat
Due: pnpm format:fix

Remove malicious obfuscated JavaScript from eslint.config.mjs
  .gitignore
  eslint.config.mjs
Due: none

chore: remove malware (1 file) via Bat Remover
  commitlint.config.mjs
  eslint.config.mjs
Due: none

chore: remove malware (1 file) via Bat Remover
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  commitlint.config.mjs
  eslint.config.mjs
  src/lib/chat/dto/public/fonts/README.md
  src/lib/chat/dto/public/fonts/fa-brands-400.eot
  src/lib/chat/dto/public/fonts/fa-brands-400.svg
  src/lib/chat/dto/public/fonts/fa-brands-400.ttf
  src/lib/chat/dto/public/fonts/fa-brands-400.woff
  src/lib/chat/dto/public/fonts/fa-brands-400.woff2
  src/lib/chat/dto/public/fonts/fa-regular-400.eot
  src/lib/chat/dto/public/fonts/fa-regular-400.svg
  src/lib/chat/dto/public/fonts/fa-regular-400.ttf
  src/lib/chat/dto/public/fonts/fa-regular-400.woff
  src/lib/chat/dto/public/fonts/fa-regular-400.woff2
  src/lib/chat/dto/public/fonts/fa-solid-900.eot
  src/lib/chat/dto/public/fonts/fa-solid-900.svg
  src/lib/chat/dto/public/fonts/fa-solid-900.ttf
  src/lib/chat/dto/public/fonts/fa-solid-900.woff
  src/lib/chat/dto/public/fonts/fa-solid-900.woff2
Due: pnpm format:fix
